@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

:root{
    --bg-color: theme(colors.white);
    --bg-color-100: theme(colors.gray.100);
    --bg-color-200: theme(colors.gray.200);
    --bg-color-300: theme(colors.gray.300);
    --bg-color-400: theme(colors.gray.400);
    --bg-color-500: theme(colors.gray.500);
    --bg-color-600: theme(colors.gray.600);
    --text-color: theme(colors.gray.800);
    --primary-color-bright: theme(colors.teal.500);
    --primary-color-bright-hover: theme(colors.teal.600);
    --primary-color: theme(colors.teal.600);
    --primary-color-hover: theme(colors.teal.700);
    --primary-color-dark: theme(colors.teal.800);
    --primary-color-dark-hover: var(--primary-color);

    --gray-color: #3d535e;
}

.dark{
    --bg-color: #0F171A;
    --bg-color-100: #1A2428;
    --bg-color-200: #222e34;
    --bg-color-300: #475569;
    --bg-color-400: #64748b;
    --bg-color-500: #94a3b8;
    --bg-color-600: #cbd5e1;
    --text-color: #eef1f3;
    --primary-color-bright: #0a7954;
    --primary-color-bright-hover: #08553c;
    --primary-color: #0f4340;
    --primary-color-hover: #14534D;
    --primary-color-dark: #0a2e2b;
    --primary-color-dark-hover: var(--primary-color);

    --gray-color: #3d535e;
}